<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-header"> HUMANITY </a>
		</div>
		
		<div class="navigation-bar" id="navigation-bar">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/humanity" class="navigation-bar-element" >ABOUT</a></li>
				<li routerLinkActive="active"><a style="cursor: pointer;" (click)="onFetchReleases()" routerLink="/releases" class="navigation-bar-element" >RELEASES</a></li>
				<li routerLinkActive="active"><a style="cursor: pointer;" (click)="onFetchPreviews()" routerLink="/previews" class="navigation-bar-element" >PREVIEWS</a></li>
				<li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/shopping-cart" class="navigation-bar-element" >CART</a></li>
				<li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/order-history" class="navigation-bar-element" >PURCHASES</a></li>
			</ul>
		</div>
	</div>
</nav>